$sansRegular: "ITCAvantGardeW04-Book", "Helvetica", "Arial", sans-serif;


$typewriterLight: 		'AmericanTypwrterITCW01- 731025', Courier, Times, "Times New Roman", serif;
$typewriterRegular: 	'AmericanTypwrterITCW01- 731031', Courier, Times, "Times New Roman", serif;
$sansLight: 			'Myriad W01 Lt', Helvetica, Helvetica, sans-serif;
$sansLightItalic: 		'Myriad W01 Lt It', Helvetica, sans-serif;
$sansRegular: 			'Myriad W01 Regular', Helvetica, sans-serif;
$sansRegularItalic: 	'Myriad W01 It', Helvetica, sans-serif;
$sansSemi: 				'Myriad W01 SmBd', Helvetica, sans-serif;
$sansSemiItalic: 		'Myriad W01 SmBd It', Helvetica, sans-serif;
$sansBold: 				'Myriad W01 Bd', Helvetica, sans-serif;
$sansBoldItalic: 		'Myriad W01 Bd It', Helvetica, sans-serif;
$sansCondensed: 		'Myriad W01 Cnd', Helvetica, sans-serif;
$sansBoldCondensed: 	'Myriad W01 Bd Cnd', Helvetica, sans-serif;