

// @import "zero";
@import "colors";
@import "fonts";



#setup_departments,
#setup_classes {
	ul {
		li {
			list-style: none;
			margin: 4px;

			label { 
				font-weight: normal;

				input[type="checkbox"] {
					margin: 0 3px 0 0;
					font-size: 18pt;
				}
			}
		}
	}
}
